.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-content: center;
    margin-top: 2rem;
    border-bottom: 1.5px solid lightgray;
    .link {
        padding: 1rem;
        justify-self: center;
        text-decoration: none;
        font-size: 1.6rem;
        text-transform: uppercase;
        color: black;
    }
}